*.py[cod]
.gitignore~
.tox/
.cache/
.coverage*
!.coveragerc
/htmlcov/
*.py,cover
.idea/
.vscode/
.pytest_cache/
/coverage.xml
.eggs/

MANIFEST.in~
codebin/
/tmp/
.zip
/examples/db/
/var/
/examples/tmp/
/examples/logs/
/builddocs/
/docs/_build/
/builddocs.zip
/build/
/dist/
static_coverage_badge.egg-info
matyan.log*
db.sqlite3
sample_db.sqlite
/prof/
*.cast
.ipynb_checkpoints/
.scannerwork/
*db.sqlite3*
.mypy_cache/
